ul {
    align-content: center;
    list-style-type: none;

}
li {
    padding: 0.5em;
    vertical-align: center;
    margin: 0.4em;
    overflow: hidden;
    border-radius: 10px;
}
a {
    color: #2F4F4F;
    text-decoration: none;
}
h1 {
    background-color: #fa5d5d;
    border-style: double;
    border-color: #2b2b2b;
    margin: 0.5em;
    margin-right: 10em;
    text-align: left;
    border-radius: 10px;
    padding-left: 1.2em;
}
h2 {
    background-color: #8989ef;
    border-style: double;
    border-color: #2b2b2b;
    margin-left: 2em;
    margin-right: 15em;
    border-radius: 10px;
    padding-left: 0.7em;
}
p {
    background-color: #bfbfbf;
    border-style: double;
    border-color: #2b2b2b;
    margin-left: 4.5em;
    margin-right: 20em;
    border-radius: 10px;
    padding-left: 0.3em;
}
body{
    background-color: papayawhip;
}
#top_pic {
    align-content: center;
    image-orientation: 15deg;
}
#yellow {
    background-color: #FFFF00;
}
#purple {
    background-color: #C764f1;
}
#teal {
    background-color: #78ffff;
}
.placeholder {
    text-decoration-style: wavy;
    text-decoration-color: #dc143c;
    /*display: none;*/
}
.headerlink {
    background-color: #D3D3D3;
    font-weight: bold;
    text-align: center;
    margin-top: 0.8em;
    width: 70%;
}
.subheaderlink {
    text-align: center;
    background-color: #D3D3D3;
    margin-left: 120px;
    width: 60%;
}
